<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-schedule-event-heading">Create or edit a Schedule Event</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!scheduleEvent.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="scheduleEvent.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="scheduleEvent.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_label">Label</label>
                    <input type="text" class="form-control" name="label" id="field_label"
                        [(ngModel)]="scheduleEvent.label" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_start">Start</label>
                    <div class="d-flex">
                        <input id="field_start" type="datetime-local" class="form-control" name="start" [(ngModel)]="start" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_end">End</label>
                    <div class="d-flex">
                        <input id="field_end" type="datetime-local" class="form-control" name="end" [(ngModel)]="end" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_planned">Planned</label>
                    <input type="checkbox" class="form-control" name="planned" id="field_planned"
                        [(ngModel)]="scheduleEvent.planned" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cycletimeOverride">Cycletime Override</label>
                    <input type="number" class="form-control" name="cycletimeOverride" id="field_cycletimeOverride"
                        [(ngModel)]="scheduleEvent.cycletimeOverride" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_targetEfficiency">Target Efficiency</label>
                    <input type="number" class="form-control" name="targetEfficiency" id="field_targetEfficiency"
                        [(ngModel)]="scheduleEvent.targetEfficiency" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
