<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="attributeValue">
            <h2><span>Attribute Value</span> {{attributeValue.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Value</span></dt>
                <dd>
                    <span>{{attributeValue.value}}</span>
                </dd>
                <dt><span>Article</span></dt>
                <dd>
                    <div *ngIf="attributeValue.article">
                        <a [routerLink]="['/article', attributeValue.article?.id, 'view']">{{attributeValue.article?.id}}</a>
                    </div>
                </dd>
                <dt><span>Option</span></dt>
                <dd>
                    <div *ngIf="attributeValue.option">
                        <a [routerLink]="['/attribute-option', attributeValue.option?.id, 'view']">{{attributeValue.option?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/attribute-value', attributeValue.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
