<div>
    <h2 id="page-heading">
        <span>Non Production Events</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-non-production-event" [routerLink]="['/non-production-event/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Non Production Event
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="nonProductionEvents">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Label</span></th>
            <th><span>Start</span></th>
            <th><span>End</span></th>
            <th><span>Schedule Event</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let nonProductionEvent of nonProductionEvents ;trackBy: trackId">
                <td><a [routerLink]="['/non-production-event', nonProductionEvent.id, 'view' ]">{{nonProductionEvent.id}}</a></td>
                <td>{{nonProductionEvent.name}}</td>
                <td>{{nonProductionEvent.label}}</td>
                <td>{{nonProductionEvent.start | date:'medium'}}</td>
                <td>{{nonProductionEvent.end | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="nonProductionEvent.scheduleEvent">
                        <a [routerLink]="['../schedule-event', nonProductionEvent.scheduleEvent?.id, 'view' ]" >{{nonProductionEvent.scheduleEvent?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/non-production-event', nonProductionEvent.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/non-production-event', nonProductionEvent.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'non-production-event', { outlets: { popup: nonProductionEvent.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
